<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ cliente.id ? "Edição" : "Cadastro" }}</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="success">
       Cliente cadastrado com sucesso
      </div>
      <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
        {{ error }}
       </div>
    </div>
  </div>
  <form #clienteForm = "ngForm" (ngSubmit)="onSubmit()">
    <div class="row" *ngIf="cliente.id">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">ID</label>
            <input type="text" class="form-control" disabled [ngModel]="cliente.id" name="id"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Data cadastro</label>
            <input type="text" class="form-control" disabled [ngModel]="cliente.dataCadastro" name="dataCadastro"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">CPF</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" >
          {{ cliente.id ? "Atualizar" : "Cadastrar" }}
        </button>
        <button type="button" class="btn btn-danger ml-1" routerLink="/lista-clientes">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
