<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Todos clientes</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="success">
        {{ success }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error }}
       </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-warning" routerLink="/clientes/form"> <i class="fa fa-plus"></i> Novo</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">cpf</th>
          <th scope="col">Data de cadastro</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.dataCadastro }}</td>
          <td>
            <button type="button" class="btn btn-primary" routerLink="/clientes/form/{{ cliente.id }}"> <i class="fa fa-edit"></i> </button>
            <button type="button" class="btn btn-danger ml-1" (click)="iniciarExclusao(cliente)" data-toggle="modal" data-target="#modal-excluir-cliente"> <i class="fa fa-trash"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modal-excluir-cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja excluir o(a) cliente {{ cliente.nome }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="excluir()">Excluir</button>
      </div>
    </div>
  </div>
</div>
</div>
