<div id="layoutAuthentication" class="bg-primary">
  <div id="layoutAuthentication_content">
     <main>
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-lg-5">
                 <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                      <h3 class="text-center font-weight-light my-4">{{ isRegister ? 'Login' : 'Cadastro' }}</h3>
                    </div>
                    <div class="card-body">
                       <form #loginForm="ngForm" (submit)="login()">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="alert alert-success" role="alert" *ngIf="isSuccessRegister">
                              Usuário cadastrado com sucesso, faça o login.
                             </div>
                            <div class="alert alert-danger" role="alert" *ngIf="isErrorLogin">
                             Usuário ou senha incorreto
                            </div>
                            <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                              {{ error }}
                             </div>
                        </div>
                        </div>
                          <div class="form-group">
                            <label class="small mb-1" >Login</label>
                            <input class="form-control py-4" name="usuario" type="text" placeholder="Digite seu login" [(ngModel)]="usuario" autocomplete="off" />
                          </div>
                          <div class="form-group">
                            <label class="small mb-1">Senha</label>
                            <input class="form-control py-4" name="senha" type="password" placeholder="Digite sua senha" [(ngModel)]="senha"/>
                          </div>
                          <div class="form-group">
                             <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label"
                                for="rememberPasswordCheck">Remember password</label></div>
                          </div>
                          <div class="form-group  align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit"  *ngIf="!isRegister">Login</button>
                            <button class="btn btn-success" type="button" (click)="cadastrar()"  *ngIf="isRegister">Cadastrar</button>
                            <button class="btn btn-danger ml-1" type="button" (click)="cancelarCadastro()" *ngIf="isRegister">Cancelar</button>

                          </div>
                       </form>
                    </div>
                    <div class="card-footer text-center">
                       <div class="small"><a href="#" (click)="iniciarCadastro($event)">Precisa de uma conta? Inscrever-se!</a></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </main>
  </div>
  <div id="layoutAuthentication_footer">
     <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
           <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2019</div>
              <div>
                 <a href="#">Privacy Policy</a>
                 &middot;
                 <a href="#">Terms &amp; Conditions</a>
              </div>
           </div>
        </div>
     </footer>
  </div>
</div>
